# {{ project_name }}

This readme has been generated automatically.


### How to run the backend for the first time

1. Clone the repo.
2. Inside `django_proj/` directory, `uv sync` to let uv install the required python version (specified inside `.python-version`), generate the virtual environment and install the dependencies defined in the `pyproject.toml` file.
3. From here you can choose to activate the virtual environment for executing `python` commands or using `uv run` before each one of them. For example: `source .venv/bin/activate` and `python manage.py runserver` VS. `uv run python manage.py runserver`. Keep in mind that the activatino method is only run once while `uv run` is needed before every command to avoid using the OS' default python installation.
4. Start the database server in the port 5432 (there's a docker-compose.yaml in the root of the project: `docker-compose up -d`)
5. Duplicate local_settings_template.py file inside django_proj/main, rename it to local_settings.py and configure the required variables.
   - In DATABASES (if the database server has been started via docker-compose the variables to configure can be checked in the provided docker-compose.yml file):
     - Database user
     - Database password
     - Database host
6. Apply the migrations: `uv run python manage.py migrate`
    > In case you are creating the project from scratch, you will need to create the migrations first: `uv run python manage.py makemigrations`
7. Create a superuser: `uv run python manage.py createsuperuser`
8. All set, from now the backend development server can be started using: `uv run python manage.py runserver`


### Extra

There is a `flake.nix` in the root of the project. You can start a dev shell with `uv`, and `python {{python_version}}` by running `nix develop`. It will also start the PostgreSQL database using docker.

> Disclaimer: You still need to have docker installed
