[project]
name = "{{project_slug}}"
version = "0.1.0"
description = "Backend for {{project_name}} app"
readme = "README.md"

dependencies = [
    "asgiref>=3.6.0,<3.7.0",
    "django>={% if django_version != "latest" %}{{django_version}},<5.0{% else %}5.0{% endif %}",
    "psycopg2-binary>=2.9.5,<2.10.0",
    "sqlparse>=0.4.4,<0.5.0",
    "django-cors-headers>=4.3.1,<4.4.0",
    "django-cleanup>=8.1.0,<8.2.0",
    "djangorestframework>=3.14.0,<3.15.0",
    "django-allauth==0.57.0",
    "dj-rest-auth[with-social]==6.0.0",
    "pillow>=10.3.0,<10.4.0",
    "drf-spectacular>=0.28.0",  
    "django-environ>=0.12.0",
    "django-unfold>=0.59.0",
]

[dependency-groups]
dev = []
prod = [
    "gunicorn~=21.2.0",
    "supervisor~=4.2.5"
]
