DEBUG=False
SECRET_KEY=changeme
ALLOWED_HOSTS='changeme', 'changeme2'
CSRF_TRUSTED_ORIGINS='https://change.me', 'http://change.me2'
MEDIA_URL=https://change.me/media/
DB_HOST=postgresql
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}