# FOR THE DJANGO APP SETTINGS
DEBUG=off
SECRET_KEY=changeme
ALLOWED_HOSTS=changeme,changeme
CSRF_TRUSTED_ORIGINS=http://change.me,http://change.me2
MEDIA_URL=https://change.me/media/
DATABASE_URL=psql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@changeme:5432/${POSTGRES_DB}

# JUST FOR THE DOCKER CONTAINER
DJANGO_SUPERUSER_EMAIL=admin@change.me
DJANGO_SUPERUSER_USERNAME=changeme
DJANGO_SUPERUSER_PASSWORD=changeme