name: {{project_slug}}
# You should add the gitlab repo's group to the name (or change the name in case it is different). GITLAB_REPO=group/project

services:
  {{project_slug}}:
    image: &app-image docker-registry.dev2.purpleblob.net/{{project_slug}}:0.0.0
    ports:
      - "127.0.0.1:8080:8080/tcp"
    env_file:
      - db.env
      - app.env
    depends_on:
      - postgresql
    volumes:
      - "./mediafiles:/home/app/mediafiles"

  postgresql:
    image: {% if geodjango %}postgis/postgis:{{postgres_version}}{% if postgres_version!='latest' %}-master{% endif %}{% else %}postgres:{{ postgres_version }}{% endif %}
    env_file:
      - db.env
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 3s
      timeout: 3s
      retries: 3
    volumes:
      - "./pgdata:/var/lib/postgresql/data"

# example-job:
#   image: *app-image
#   command: python manage.py customcommand
#   depends_on:
#     - postgresql
#   profiles: ["jobs"]
#   env_file:
#     - db.env
#     - app.env
