version: '2'
services:

  postgresql:
    image: postgres:{{ cookiecutter.postgres_version}}
    ports:
    - "5432:5432"
    environment:
    - "POSTGRES_USER={{ cookiecutter.db_user }}"
    - "POSTGRES_PASSWORD={{ cookiecutter.db_password }}"
    - "POSTGRES_DB={{ cookiecutter.project_slug }}"
    - "PGDATA=/var/lib/postgresql/data/pgdata"
    volumes:
      - {{ cookiecutter.project_slug }}-dev:/var/lib/postgresql/data/pgdata

{% if cookiecutter.configure_celery %}
  message-queue:
    image: bitnami/rabbitmq:3.9
    ports:
    - "5672:5672"
    - "15672:15672"
    environment:
    - "RABBITMQ_USERNAME={{ cookiecutter.mq_user }}"
    - "RABBITMQ_PASSWORD={{ cookiecutter.mq_password }}"
    - "RABBITMQ_DISK_FREE_ABSOLUTE_LIMIT=1GB"
    - "TZ=CET"
{% endif %}

volumes:
    {{ cookiecutter.project_slug }}-dev:

