asgiref==3.5.2
Django~=4.2  # latest django LTS version
psycopg2-binary~=2.9.5
sqlparse~=0.4.4

django-cors-headers~=4.3.1
{% if cookiecutter.configure_celery %}
celery~=5.3.0
django-celery-results~=2.5.1
django-celery-beat~=2.5.0
{% endif %}
django-cleanup~=8.1.0
djangorestframework~=3.14.0
django-allauth~=0.60.1
dj-rest-auth~=5.0.2

# production dependencies
gunicorn~=21.2.0
supervisor~=4.2.5