# {{ project_name }}

This readme has been generated automatically.


### How to run the backend for the first time

1. Clone the repo.
2. Inside `django_proj/` directory, run `uv sync` to let uv install the required python version (specified inside `.python-version`), generate the virtual environment and install the dependencies defined in the `pyproject.toml` file.
3. From here you can choose to activate the virtual environment for executing `python` commands or using `uv run` before each one of them. For example: `source .venv/bin/activate` and `python manage.py runserver` VS. `uv run manage.py runserver`. Keep in mind that the activation method is only run once while `uv run` is needed before every command to avoid using the OS' default python installation.
4. Start the database server in the port 5432 (there's a docker-compose.yaml in the root of the project: `docker-compose up -d`)
5. Duplicate .env.template file inside django_proj, rename it to .env and configure the required variables.
6. Apply the migrations: `uv run manage.py migrate`
    > In case you are creating the project from scratch, you will need to create the migrations first: `uv run manage.py makemigrations`
7. Create a superuser: `uv run manage.py createsuperuser`
8. All set, from now the backend development server can be started using: `uv run manage.py runserver`
{% if generate_angular_project %}
### How to run the fronend for the first time

1. Inside `frontend/` directory, run `nvm use`. It will pick up the node version from the `.nvmrc` file.
2. `npm install`
3. `npm start` or `npm run dev`
{% endif %}

### In  VS Code

There are some tasks configured inside `.vscode/tasks.json` and 3 launch configurations inside `.vscode/launch.json`.
The tasks can be run in vscode via the command pallete > "Tasks: Run Task". There you can select some common tasks used on a daily basis in a django project development like:
- Start docker compose
- Sync python dependencies (install dependencies from pyproject.toml, create virtual env...)
- Migrations: make and apply them
- Create superuser

You can start all 3 `docker compose`, backend server and frontend server in the "Run and Debug" section of VS Code by selecting the proper one and pressing F5 (or the "Play" icon).

#### You have already everything configured and just opened the project to keep working on it

1. Press (fn+)F5 to start the servers and the docker compose

#### You cloned the project

1. Run the task to Sync python dependencies
2. Configure the newly created python environment inside vscode
3. Run the task to Start the docker compose
4. Run the task to Apply django migrations
5. In case there is a frontend install its dependencies too
6. Run the server(s) with F5
(7. Run the task to Create superuser)

#### You just created the project

1. Run the task to Sync python dependencies
2. Configure the newly created python environment inside vscode
3. Run the task to Start the docker compose
4. Run the task to Create django migrations
5. Run the task to Apply django migrations
5. In case there is a frontend install its dependencies too
6. Run the server(s) with F5
(7. Run the task to Create superuser)

> The steps specified in the section [How to run the backend for the first time](#how-to-run-the-backend-for-the-first-time) can be followed in any case.


### For the fearless (Best developer experience)

There is a `devenv.nix` in the root of the project that defines a dev shell with everything required to work on the project: uv, python, node, typescript, angular... You can just `direnv allow` (just the first time) and `devenv up` to start the django server, the angular server, a postgresql database and a caddy reverse proxy (on port 8080).

> You still need to `uv sync`, create the migrations, apply the migrations and create a superuser the first time.
